# Environments
.env
.venv
env/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# Large Datasets and zips
data/
*.zip
*.tar.gz

# Local databases and instance folders
instance/
*.db
*.sqlite

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

static/uploads/
*.jpg
